{% extends 'Login/base.html' %}
{% block title %}LogIn{% endblock %}
{% block body %}
{% load static %}
    <h1 style="color: red; text-align: center; padding-top: 2%;">Personal List </h1>
    <div class="container">
        {% for i in song reversed %}
        <div class="row" style="padding-top: 2%;padding-left: 7%;" >
            <div style="padding-left: 2%;">
                <div class="card" style="width: 18rem;">
                    <img src="/media/{{i.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title" style="color: Red">{{i.title}} </h5>
                    <p class="card-text">{{i.artist}}</p>
                    <a href="/Login/songs/{{i.id}}" class="btn btn-primary">Listen</a>
                    </div>
                </div>
            </div>
        </div>   
            {% endfor %}
    
        </div>
{% endblock %}